body,html{
    background-image:url(images/fundoolho.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow:hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 5vh;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 10vh;
}

.menu{
    background-image: url(images/imageolho.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    width: 80vh;
    height: 50vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.menu-item img {
  background-color: #0141a2;
  width: 6vh;
  height: 6vh;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000000;
  margin-right: 2vh;
}

.menu-item img:hover {
  background-color: white;
  color: #000000;
  transform: scale(1.05);
  transition: 0.3s;
}

.menu-item a {
  background-color: #0141a2;
  font-size: 3vh;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 2px 4px #000000;
  padding: 0.5vh 1vh;
}

.menu-item a:hover {
  background-color: white;
  color: #000000;
  transform: scale(1.05);
  transition: 0.3s;
}

footer{
    background-color:#0141a2;
    width: 100vh;
    height: none;
    margin-top: 11vh;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2.2vh;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

.links-sociais a{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.links-sociais a:hover {
    background-color:#63C2F6;
    color: #0141a2;
    transform: scale(1.05);
    transition: 0.3s;
    border-radius: 25px;
    padding-left: 1vh;
    padding-right: 1vh;
}

