body,html{
  background-image:url(images/6.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0;
}

body {
  min-height: 100svh; /* viewport real do mobile */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh auto 0;
  width: 100%;
  max-width: 200px;
  height: auto; /* 🔹 NÃO use vh aqui */
}

.logo {
  display: flex;
  width: 100%;
  max-width: 140%;
  height: auto;
  justify-content: center;
  align-items: center;
}


.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vh auto 0;
  width: 100%;
  max-width: 500px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  margin-left: 0; /* 🔹 ESSENCIAL */
}

.menu-item img {
  background-color: #0141a2;
  width: 5.5vh;
  height: 5.5vh;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000000;
  margin-right: 15px;
}

.menu-item img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.menu-item a {
  background-color: #0141a2;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 2px 4px #000000;
  padding: 1vh 2vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

.menu-item a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

footer{
    margin-top: 150px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.7vh;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
}