body{
    background-image: url('images/fundoolho.png');
    background-size: cover;/* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat;/* Evita repetição da imagem */
    background-position: center;/* Centraliza a imagem */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
}

.backgroundolho{
    background-image: url('images/imageolho.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 24vh;
    margin-top: 31vh;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse{
    0%{
        transform: scale(1)
    }
    
    50%{
        transform: scale(1.1);
    }
}

.container1{
    display:flex;
    z-index: 3;
    text-align: center;
    margin-top: 10vh;
    flex-direction: column;
    position: absolute;
    font-size: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blue;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.5);;
}

.bottom{
    display:flex;
    position: absolute;
    margin-top: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 85%;
}

.bottom1{
    margin-left: 55px;
    margin-bottom: 15px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 125px;
    height: 20px;
    text-decoration: none;
    color:aliceblue;
    box-shadow: 5px 5px 7px;
}

.bottom2{
    margin-right: 55px;
    margin-bottom: 20px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 125px;
    height: 20px;
    text-decoration: none;
    color:aliceblue;
    box-shadow:   -5px 5px 7px;
}

.bottom3{
    margin-left: 55px;
    margin-bottom: 15px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 125px;
    height: 20px;
    text-decoration: none;
    color:aliceblue;
    box-shadow: 5px 5px 7px;
}

.bottom4{
    margin-right: 55px;
    margin-bottom: 20px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 125px;
    height: 20px;
    text-decoration: none;
    color:aliceblue;
    box-shadow:  -5px 5px 7px;
}

.bottomimage{
    display:flex;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 85%;
    z-index: 2;
}

.bottomimage1{
    margin-right: 135px;
    margin-bottom: 10px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    width: 40px;
    height: 40px;
    margin-top: 40vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:aliceblue;
    box-shadow:  5px 5px 7px;
}

.bottomimage1 img{
    width: 40px;
    height: 40px;
    color: green;
}

.bottomimage2{
    margin-left: 135px;
    margin-bottom: 10px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:aliceblue;
    box-shadow:  -5px 5px 7px;
}

.bottomimage2 img{
    width: 40px;
    height: 40px;
}

.bottomimage3{
    margin-right: 135px;
    margin-bottom: 10px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:aliceblue;
    box-shadow:  -5px 5px 7px;
}

.bottomimage3 img{
    width: 40px;
    height: 40px;
}

.bottomimage4{
    margin-left: 135px;
    margin-bottom: 10px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:aliceblue;
    box-shadow:  -5px 5px 7px;
}

.bottomimage4 img{
    width: 40px;
    height: 40px;
}